html,head{
    padding:0;
    margin:0;
}

body{
    width:100%;
    height:auto;
    background-color:#eee;
    padding:0;
    margin:0;
}

#navmain{
    transition:all 0.3s linear;
    background-color:#ffffff;
    transform:translateY(-60px);
}

.nav-shift-right{
    margin-left:25px;
}

.nav-shift-left{
    margin-right:5px !important;
}

.nav-custom li{
    border-radius:2px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.nav-custom li a{
    color:#4D4D4D !important;
}

.nav-custom li a:hover{
    color:#ffffff !important;
}

.nav-custom li:hover{
    background-color:#019688;
}

.nav-logo{
    width:120px;
    height:auto;
    margin-top:10px;
}

.nav-main-container{
    position:relative;
}


.clear{
    overflow:hidden;
    clear:both;
}

.center-align{
    text-align:center;
}

.main-logo{
    width:25%;
    height:auto;
}

.logo-main-container{
    width:100%;
    height:auto;
    margin-top:10%;
    background-color:rgb(254,254,254);
}

.random{
    position:absolute;
    display:none;
}

.overlay{
    position:absolute;
    width:100%;
    background-color:rgba(0,0,0,0.1);
    top:0;
    left:0;
    z-index:9;
}

.focus{
    position:relative;
    z-index:999;
}

.tagline{
    background-color:rgb(254,254,254);
    color:#eee;
    letter-spacing: 10px;

}

.tagline-container{
    margin-top:15px;
}

.subscribe-container{
    margin-top:13%;
}

.subscribe-text{
    width:35%;
    height:40px;
    background-color:#019688;
    border:none;
    color:#ffffff;
    border-radius:2px;
    font-size:18px;
    padding-left:20px;
}

.subscribe-button{
    height:40px;
    padding-top:5px !important;
    color:#ffffff !important;
    margin:0;
    position:relative;
    margin-top:-3px;
}

.loader{
    width:32px;
    height:32px;
    display:none;
}

::-webkit-input-placeholder{
    color:#ffffff;
}

.text::-webkit-input-placeholder{
    color:#222;
}

.contact{
    background-color:#009688;
    width:100%;
    position:relative;
    padding:100px 0;
    margin:0;
}

.about{
    width:100%;
    position:relative;
    padding-top:50px;
    padding-bottom:0;
    margin:0;
    background-color:#ffffff;
}

.centered-container{
    position:absolute;
    width:100%;
    top:50%;
    left:0;
    transform:translateY(-50%);
}

.contactus-container{
    position:absolute;
    width:100%;
    top:40%;
    left:0;
}

.text{
    width:30%;
    height:40px;
    border:none;
    border-radius:2px;
    padding-left:10px;
    color:#777 !important;
}

.btn-custom{
    width:30%;
}

.footer{
    background-color:black;
    height:40px;
    padding:0 !important;
    margin:0 !important;
}

.sphere-logo{
    width:20%;
    position:relative;
}

.sphere{
    width:100%;
    background-color:#222;
    padding-top:120px;
}

.catchphrase{
    padding:5px 0;
    background-color:rgba(255,255,255,0.5);
    letter-spacing: 5px;

}

.shift-down{
    margin-top:10px;
}

.shift-down-50{
    margin-top:50px;
}

.shift-down-60{
    margin-top:60px;
}

.team{
    padding:50px 0;
    background-color:#2E2E2E;
}

.team-container{
    padding:50px 100px;
}

.team-row:nth-child(2){
    margin-top:50px;
}

.team-cols{
    padding:0 25px !important;
}

.team-col-content{
    box-shadow:1px 1px 1px 1px #000;
    padding:20px 20px;
    background-color:#eeeeee;
    position:relative;
}

.team-col-content:hover{
    cursor:pointer;
    transition:all 0.3s linear;
}

.team-image{
    width:40%;
    float:left;
    display:block;
}

.team-content{
    display:block;
    position:absolute;
    top:50%;
    right:0;
    left:40%;
    transform:translateY(-50%);
}

.intro-video{
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center-box{
    width:100%;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.intro-logo{
    width:40%;
}

@keyframes arrow-about{
    10%{
        transform:translateY(0px);
    }
    20%{
        transform:translateY(2px);
    }
    30%{
        transform:translateY(4px);
    }
    40%{
        transform:translateY(6px);
    }
    50%{
        transform:translateY(8px);
    }
    60%{
        transform:translateY(6px);
    }
    70%{
        transform:translateY(4px);
    }
    80%{
        transform:translateY(2px);
    }
    90%{
        transform:translateY(0px);
    }
}

.arrow-animation{
    cursor:pointer;
    animation-name:arrow-about;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.img-about{
    width:40%;
}

.col-about{
    padding:10px 100px;
}

.about-container{
    padding:50px !important;
}

.about-content{
    padding:20px 25px;
    width:100%;
    height:auto;
    max-height:200px;
    min-height:150px;
    overflow:hidden;
}

.about-content-major{
    padding:20px 25px;
    width:100%;
}

.section-bg{
    background-color:#192B33;
    padding:50px 0;
    position:relative;
}

.process-gif-container{
    margin-top:60px;
}

.process-gif{
    width:50%;
}

.img-sub-cat{
    width:30%;
    z-index:999;
}

.container-features{
    position:relative;
}

.demo{
    background-color:#93CA3A;
    position:relative;
    padding:100px;
}

.contactus-video{
    width:40%;
}

.demo-video{
    width:50%;
    height:300px;
}

.onroadbg{
    background-image:url(../res/features/onroadbg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    padding:60px 400px;
}

.icon-bar{
    background-color:black !important;
}

.navbar-toggle:hover .icon-bar{
    background-color:white !important;
}


@media screen and (max-width:600px){
    .intro-video{
        display:none;
    }

    .arrow-animation{
        color:black !important;
    }

    .intro{
        overflow:hidden;
    }

    .intro-logo{
        width:80%;
    }

    .process-gif{
        width:90%;
    }

    .demo-video{
        width:80%;
        height:200px;
    }

    .text{
        width:80%;
    }

    .btn-custom{
        width:80%;
    }

    .team-row:nth-child(2){
        margin-top:0;
    }

    .team-cols{
        margin-top:20px;
    }

    .crash-row{
        margin-top:50px;
    }

    .onroadbg{
        padding:10px 30px;
    }

    .nav-logo{
        margin-left:10px !important;
    }

}