.font{
    color:rgb(200,200,200);
    font-family: 'PT Sans Narrow', sans-serif;
}

.font{
    font-family: 'PT Sans Narrow', sans-serif;
}

.font-md{
    font-size:22px;
}

.font-xsm{
    font-size:16px;
}

.font-sm{
    font-size:18px;
}

.font-lg{
    font-size:26px;
}

.font-slg{
    font-size:22px;
}

.font-xg{
    font-size:36px;
}

.font-smd{
    font-size:20px;
}

.font-xxg{
    font-size:50px;
}

.font-large{
    font-size:48px;
}

.font-large-2{
    font-size:52px;
}

.font-white{
    color:white;
}

.font-black{
    color:rgb(20,20,20);
}

.font-dark-blue{
    color:#337AB7;
}

.font-blue{
    color:#2DA0D8;
}

.font-green{
    color:#009688;
}

.welcome{
    padding:50px 20%;
}

.sleek{
    padding:15px 20%;
}

.text-custom{
    width:40%;
    display:inline;
}

.section-headings{
    color:rgb(20,20,20);
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight:800;
}

.section-headings-white{
    color:white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight:800;
}

.section-headings-gray{
    color:rgb(200,200,200);
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight:800;
}

.section-headings-black{
    color:black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight:800;
}


.bold{
    font-weight:800;
}

.font-justify{
    text-align:justify;
}

.fat-line{
    line-height:30px;
}

.section-thin-heads{
    font-weight: 800;
    color:#eeeeff;
    font-size:120px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1;
}

@media only screen and (max-width : 600px){
    .sleek{
        padding :15px 0px;
    }
    .sleek-padded {
        padding: 50px 0%;
    }
}
